@media (min-width: 1301px){
body {
    background: whitesmoke !important;
}
div {
    /* border: 1px solid #000000; */
}
.price{
    margin-top: 50px;
     text-align: center;
  }
  .navbar-toggler{
      /* margin-left: 150px; */
  }

.news{
    background:#537f88;
    height:35px;
}
.grid-container {
    margin: auto;
    background: whitesmoke;
    width: 70%;
}
.main-grid{
    margin: auto;
    display: -webkit-inline-box;
}
.main-grid-m{
    display:block;
    }
.main-image{
    width: 925px;
    margin-left: 110px;
    max-width: 925px;
    margin-top: 43px;
}
.main-image{
    width: 925px;
    margin-left: 110px;
    max-width: 925px;
    margin-top: 43px;
    
}
.thumbnail-images{
    padding: 8px;
}
.thumbnail-grid{
    width: 250px;
    margin-top: 30px;
}
.main-img {
    width: 900px;
    max-height: 540px;
  }
.thumb-img{
    height: 150px;
    width: 220px;
    padding: 5px;
  }

#full-img{
    max-width: 900px
}

.w-100 {
    max-height: 555px;
    margin:auto;
  }
}

  @media (max-width: 1300px) {

ol.carousel-indicators li,
ol.carousel-indicators li.active {
    border-radius: 100%;
    float: left;
    margin: 0px 7px;
    bottom: -32px;
    width: 10px;
    height:10px;
    background: #797979;
}

ol.carousel-indicators li.active {
  background: #797979;
}
ol.carousel-indicators {
    bottom: -32px;
}
.main-image {
    width: 100%;
    max-height: 100px;
    margin:auto;
  }
  .price{
    margin-top: 50px;
    text-align: center;
    font-size: 35px;
  }
  .news{
    background:#537f88;
    height:75px;
}
   .navbar{
    height:75px;
}
.navbar-toggler{
    margin-left: -800px;
}
.navbar-toggler-icon {
    width: 5.5em !important;
    height: 4.5em!important;
   
}

}